*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    background-color: #a2b8ff;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}