.title {
    margin-bottom: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list__wrapper {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.list__container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.list__title {
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 500;

    text-align: center;
}

.list__photo {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.list__item {
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    text-align: justify;

    flex: 1 0 auto;
    
    display: block;
    padding: 10px;
    background-color: #ffffffb5;
    border-radius: 10px;
}

.nav__item {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.2s linear;
    opacity: 0.7;
}

.nav__item:hover {
    opacity: 1;
}

@media (max-width: 860px) {
    .list__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .list__container {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.scroll {
    position: fixed;

    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll--up {
    bottom: 20px;
    right: 20px;
}

.scroll--down {
    top: 20px;
    right: 20px;
}

.scroll img {
    width: 40px;
    height: 40px;
}

.scroll.hide {
    display: none;
}